Приложение обязательно должно содержать JUnit тесты, максимально плотно покрывающие код. Приветствуется использование Mockito.

Все настройки приложения должны находится в properties файле, путь к которому должен передаваться в качестве аргументов JVM машине (-Dlardi.conf=/path/to/file.properties).
В конфигурационном файле указывается тип хранилища. Тип хранилища используется один раз при старте JVM (изменения
в конфигурационном файле вступают в силу только при перезапуске JVM). Реализовать минимум два варианта хранилища:
СУБД (MySQL) и файл-хранилище (XML/JSON/CSV на выбор). Настройки хранилища должны указываться в файле-конфигурации
(хост и пользователь для СУБД или путь к файлу для файлового хранилища).
Для файлового хранилища - в случае отсутствия файла(ов) - его(их) необходимо создать. Для СУБД-хранилища в файле
README.md должен находится SQL запрос для создания всех необходимых таблиц.
Проверка данных должна осуществляться на стороне сервера.
